<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculate Coin Avgs</title>
</head>
<body>
	<div id="calculate-avgs">
		<h1>Calculate Coin Avgs</h1>
		<form @submit.prevent="calculate">
			<p v-if="errors.length">
				<b>Please correct the following error(s):</b>
				<ul>
				  <li v-for="error in errors">{{ error }}</li>
				</ul>
			</p>
			
			<p>
				<label for="high">High: </label>
				<input id="high" name="high" type="text" v-model="high" placeholder="Enter high here..." />
			</p>
			<p>
				<label for="low">Low: </label>
				<input id="low" name="low" type="text" v-model="low" placeholder="Enter low here..." />
			</p>
			<p>
				<input type="submit" value="Calculate" />
			</p>
		</form>
		
		<h2>Averages</h2>
		
		<p>High: {{ high || '' }} </p>
		<p>Avg2: {{ avg2 || ''}} </p>
		<p>Avg1: {{ avg1 || ''}} </p>
		<p>Avg3: {{ avg3 || ''}} </p>
		<p>Low: {{ low || '' }} </p>
		
	</div>
	<script src="https://unpkg.com/vue@3"></script>
	<script>
		function isFloat(n){
			return Number(n) === n && n % 1 !== 0;
		}
		
		const calculateAvgs = Vue.createApp({
			data() {
				return {
					errors: [],
					high: '',
					low: '',
					avg1: '',
					avg2: '',
					avg3: ''
				}
			},
			methods: {
				checkForm() {
					this.errors = []
					if (!this.high) {
						this.errors.push('High required.')
					}
					
					if (!this.low) {
						this.errors.push('Low required.')
					}
					
					if (!isFloat(this.high)) {
						this.errors.push('High is float.')
					}
					
					if (!isFloat(this.low)) {
						this.errors.push('Low is float.')
					}
				},
				calculate() {
					this.checkForm()
					this.avg1 = (parseFloat(this.high) + parseFloat(this.low)) / 2
					this.avg2 = (this.avg1 + parseFloat(this.high)) / 2
					this.avg3 = (this.avg1 + parseFloat(this.low)) / 2
				}
			}
		})
		.mount('#calculate-avgs')
	</script>
</body>
</html>